.tile-video {
  position: relative;
}

.no-video {
  color: var(--dark-blue);
  background-color: var(--grey-lightest);
  width: 320px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.suspense {
  background: hotpink;
  color: white;
  font-size: 100px;
}